#title {
border:1px solid black;
}
body {
    font-size:medium;
    font-family:'Space Mono', monospace;
    margin: 0;
}
#container {
    flex: 1;
    flex-direction: row;
    width:100%;
}
#commentBox {   
    margin-left: 34%;
    display: flex;
    flex: 1;
    width: 400px;   
    flex-direction: column;
    
}
#commentHeader {
    text-align: center;
    color: red; 
}

#mainHeader {
    text-align:center;
    color:red;
}

footer {
    text-align: center;
    color:black;
    Border:2px solid red;
    font-family: 'Lucida Sans';
}
