body {
    margin: 0;
}
#headerContainer {
    flex-direction: row;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 55px;
    width: 100%;
    background-color: black;
    line-height: 80px;
}
#contentContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}
#navText {
    color:white;
    text-align: justify;
    word-break: break-all;
    width: auto;
    font-size: smaller;
}
.menuItem {
    padding-left: 80px;
}
input {
    margin-left: 80px;
    width: 450px;
    height: 15px;
    
}
span {

    font-family: 'Lucida Sans';
    font-size: 14px;
}
#logoImage {
    border:10px solid red;
    width:35px;
    height:35px;
}
#shoppingCart {
    width: 15px;
    height:15px;
   align-items: flex-end;
   margin-left: 50px;
}
#searchButton {
    background-color: red;
    width: 13px;
    height: 13px;
    border:3px solid red;
 
}
   


#title {
    font-size: medium;
    font-family: 'Space Mono', monospace;
    text-align: center;
    color:red;
    border: 1px solid;
    border-color: black;
}
ul {
    font-size: medium;
    color:red;
    border-color:black;
    font-family: 'Space Mono', monospace;
    
}
#costTable {
    font-size: medium;
    border:1px solid;
    color:red;
    border-color:black;
    font-family: 'Lucida Sans';
    text-align: center;
   
}
footer {
    text-align: center;
    color:black;
    Border:2px solid red;
    font-family: 'Lucida Sans';
}


